@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

body {
    background-color:rgb(67, 8, 82);
    color: rgb(254, 231, 168);
    font-family: "Tagesschrift", system-ui;
}

ul {
    list-style-type:"😍 ";   
    color:rgb(172, 255, 5);
}

ol {
    color:rgb(255, 0, 0);
}

a {
    color:orangered;
}

.forest {
    color:blueviolet;
}

.gta {
    color:rgb(0, 255, 0);
}

.farcry {
    color:firebrick;
}

h1 {
    text-align: center;
    text-shadow: 5px 5px 0px black;
}

h2 {
    text-align: center;
    text-shadow: 5px 5px 0px black;      
}

.fallout {
    color: cyan;
}

.scp {
    color:rgb(250, 250, 5);   
}